################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjektarbeteAlgoritmerDatastrukturer/ProjektarbeteAlgoritmerDatastrukturer/x64/Debug
